body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
	color: #00B7FF;
}
#content{
	width: 800px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5%;
	padding: 100px;
}
#room{
	background-color: #ddd;
	margin-bottom: 1em;
}
#messages{
	width: 690px;
	height: 300px;
	background-color: #eee;
	overflow: auto;
	margin-bottom: 1em;
	margin-right: 10px;
}
#room-list{
	float: right;
	width: 100px;
	height: 300px;
	overflow: auto;
}
#room-list div{
	border-bottom: 1px solid #eee;
}
#room-list div:hover{
	background-color: #ddd;
}
#send-message{
	width: 685px;
	margin-bottom: 1em;
	margin-right: 1em;
	height: 20px;
}
#help{
	font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#send-button{
	background-color: blue;
	color: #fff;
	border: none;
	border-radius: 30%;
	padding: 5px;
	cursor: pointer;
}








































